.videoView, .commentsView, .videoInfo{
	position: absolute;
	top: 5px;
}
.videoView, .videoContainer, .videoInfo{
	width: 752px;
}

.videoMenu{
	padding: 5px;
	width: 740px;
	height:35px;
	background: #E6E6E6;
	border-radius: 5px;
}

.playORpause_holder, .progressbar_container, .muteORunmute_holder{
	display:inline-block;
}
.playORpause_holder, .muteORunmute_holder{
	width: 35px;
}

.progressbar_container{
	width: 660px;
	height: 10px;
	margin-bottom: 12px;

}
#progressbar{
	position: relative;
	width:100%; 
	height: 100%;
	margin-bottom: 10px;
}


.commentsView{
	left: 765px;
	width: 300px;
	height: 469px;
	margin-top:2px; 
	border-radius: 5px;
	overflow: hidden;
}

.commentsView_menu{
	background: #E6E6E6;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 5px;

}

.commentsView_newComment{
	padding: 5px;
	background: #E6E6E6;
	height: 150px;
	border-radius: 5px;
	margin-bottom: 5px;
}

.newCommentTextbox{
	height: 60px;
	width: 98%;
	resize: none;
}
.commentsView_holder{
	background: #E6E6E6;
	height: 429px;
	border-radius: 5px;
}

.addNote_btn{
}

.videoInfo{
	top: 470px;
}


