body{
	font-size: 8pt;
	font-family: verdana, helvetica, arial, sans-serif;
}
select{
	border: solid 1px #B5AF9F;
}
.videoView, .commentsView, .videoInfo, .tickmarkView{
	position: absolute;
	top: 5px;
}
.videoView, .videoContainer, .videoInfo, .videoMenu{
	width: 752px;
}

.videoContainer{
	max-height: 423px;
}

#videoCover{
	position: absolute;
	width: 100%;
	height: 423px;
	background: black;
	opacity: .1;
	top: 0px;
}

.videoMenu{
	max-width: 742px;
	padding: 5px;
	height:50px;
	background: #E6E6E6;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.playORpause_holder, .progressbar_container, .muteORunmute_holder{
	display:inline-block;
}
.playORpause_holder, .muteORunmute_holder{
	width: 35px;
}

.progressbar_container{
	position:relative;
	width: 660px;
	height: 10px;
	margin-bottom: 13px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

#progressbar{
	position: relative;
	width:100%; 
	height: 15px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	opacity: .7;

}

#dragRangeContainer{
	position: absolute;
	width: 660px;
	height:16px;
	background: white;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	top: 0px;
	border: solid 1px #B5AF9F;
	border-bottom: none;
	overflow: hidden;
}
#rangeTick{
	position: relative;
	height: 100%;
	display: none;
	width: 2px;
	background: red;
}
.tickmark_holder{
	position: relative;
	width: 660px;
	height: 4px;
	margin-bottom: 6px;
	background: white;
	border: solid 1px #B5AF9F;
	border-top: none;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;

}

.tickmark{
	position: absolute;
	height: 100%;
	background: red;
	opacity: .4;
}

#showTime{
	text-align: right;	
	height: 100%;
}

#videoTimeDisplay, #videoTotalTimeDisplay{
	display: inline-block;
}

.commentsView{
	left: 765px;
	width: 300px;
	height: 480px;
	margin-top:2px; 
	border-radius: 5px;
	overflow: hidden;
}

.commentsView_menu{
	background: #E6E6E6;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 5px;

}

.commentsView_holder{
	font-size: 8pt;
	overflow: scroll;
	background: #E6E6E6;
	height: 444px;
	border-radius: 5px;
}

.commentsView_newComment{
	padding: 5px;
	background: #E6E6E6;
	height: 150px;
	border-radius: 5px;
	margin-bottom: 5px;
	overflow: auto;
}

#comment_time, #comment_timeEnd{
	width: 35px;
}
.newCommentTextbox{
	height: 60px;
	width: 98%;
	resize: none;
}

#commentTimeShow{
	font-size: 7pt;
	color: grey;
}

#commentGoTo:hover{
	text-decoration:underline;
}

#accordion .ui-accordion-content {
	max-height: 100px;
	overflow-y: auto;
}

.videoInfo{
	top: 470px;
}

.tickmark, #progressbar, #commentGoTo{
	cursor: pointer;
}
.popover{
	/*max-width: 200px;
	max-height: 105px; */
	font-size: 10pt;

}
.popover-content{
	max-height: 50px;
	overflow: hidden;
}
.popover-title{
	max-height: 25px;
	font-size: 10pt;
	overflow: hidden;
}